body {
  background-color: rgb(8, 70, 8);
}

#all-content {
  border: 2px solid black;
  padding-bottom: 3rem;
  width: 50%;
  margin-top: 5%;
  margin-left: 25%;
  margin-right: 25%;
  background-color: white;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo {
  width: 15rem;
  margin-top: 3rem;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#form input {
  margin-bottom: 1.5rem;
}

#img-section {
  display: flex;
}

.img-section label {
  margin-right: 1rem;
}

#output {
  width: 12rem;
  margin-bottom: 1.5rem;
}

#check-image-button {
  padding: 0.5rem;
  width: 12rem;
  border: 1px solid black;
  border-radius: 5px;
}

#check-image-button:hover {
  background-color: rgb(159, 218, 159);
}

.result {
  max-width: 75%;
}

#high-prob {
  color: red;
}

#low-prob {
  color: rgb(25, 95, 233);
}
